<header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                         <a class="logo" href="/">
                            <img class="img-responsive" src="/images/LogoCampus.jpg" alt="Logo" style="margin-bottom:10px;height:40px;margin-top: ;margin-top: -15px;">
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a href="/admin">
                                <i class="fa fa-compass"></i>Dashboard</a>
                        </li>

                        <li>
                            <a href="/admin/users">
                                <i class="fa fa-users"></i>Users</a>
                        </li>

                        <li>
                            <a href="/admin/services">
                                <i class="fa fa-handshake"></i>Services</a>
                        </li>

                        <li>
                            <a href="/admin/schools">
                                <i class="fa fa-graduation-cap"></i>Schools</a>
                        </li>
                        
                    </ul>
                </div>
            </nav>
        </header>