 <aside class="menu-sidebar2">
            <div class="logo">
                <a href="/">
                    <img class="img-responsive" src="/images/LogoCampus.jpg" alt="Logo" style="margin-bottom:10px;height:40px;margin-top: ;margin-top: -15px;">
                </a>
            </div>
            <div class="menu-sidebar2__content js-scrollbar1">
                <div class="account2">
                    <div class="image img-cir img-120">
                        <img src="/uploads/avatar.png" alt="John Doe" />
                    </div>
                    <h4 class="name">{{ admin.firstname }} {{ admin.lastname }}</h4>
                    <a href="/admin/logout">Sign out</a>
                </div>
                <nav class="navbar-sidebar2">
                    <ul class="list-unstyled navbar__list">
                        
                       <li>
                            <a href="/admin">
                                <i class="fa fa-compass"></i>Dashboard</a>
                        </li>

                        <li>
                            <a href="/admin/users">
                                <i class="fa fa-users"></i>Users</a>
                        </li>

                        <li>
                            <a href="/admin/services">
                                <i class="fa fa-handshake"></i>Services</a>
                        </li>

                        <li>
                            <a href="/admin/schools">
                                <i class="fa fa-graduation-cap"></i>Schools</a>
                        </li>
                        
                    </ul>
                </nav>
            </div>
        </aside>