<div class="footer" style="margin-top:30px;">
		<div class="footer-top section-padding">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="footer-widget">
							<h3>About Us</h3>
							<p class="text-justify font_brown" style="line-height:25px;">
								Campus Hustle is a Campus Job platform where you can hire students on your campus 
								to do menial jobs for you and you pay them for it . This is a job empowerment 
								platform that gives students the oppurtunity of earning side income by doing what they love to do
							</p>
							<!-- <ul class="tr-list">
								<li><a href="#">About Seeker</a></li>
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="#">International Partners</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Feedback</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul> -->
						</div>
					</div>
					<div class="col-sm-3">
						<div class="footer-widget">
							<h3>Job Seekers</h3>
							<ul class="tr-list  font_brown">
								<li><a href="#" class="font_brown">Create Account</a></li>
								<li><a href="#" class="font_brown">Add your Job Preferences</a></li>
								<li><a href="#" class="font_brown">Wait for Job Givers to Contact You</a></li>
							
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="footer-widget">
							<h3>Job Giver </h3>
							<ul class="tr-list  font_brown">
								<li><a href="#" class="font_brown">Create Account</a></li>
								<li><a href="#" class="font_brown">Search Job Seekers in your Category Of Job</a></li>
								<li><a href="#" class="font_brown">Contact Them & Negotiate Price</a></li>
								<li><a href="#" class="font_brown"> After Job Done , Leave Review ( Like / Dislike )</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="footer-widget  font_brown">
							<h3>Newsletter</h3>
							<p>Enter your Email and Join our Mailing List</p>
							<form class="contact-form" method="post" action="#">
								<div class="form-group">
								    <input type="email" class="form-control" required="required" placeholder="Your email Id">
								</div>             
							    <div class="form-group">
							        <button type="submit" class="btn btn-primary">Sign Up</button>
							    </div>
							</form>
						</div>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.footer-top -->
		
		<div class="footer-bottom">
			<div class="container">
				<div class="copyright">
					<p>Copyright © 2017 <a href="http://Decloud23.com">Decloud23 Technologies </a> All rights reserved.</p>
				</div>
				<div class="footer-social pull-right">
					<ul class="tr-list">
						<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>
					</ul>
				</div>
			</div>
		</div><!-- /.footer-bottom -->
	</div><!-- /.footer -->