<header class="tr-header">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><img class="img-responsive" src="images/LogoCampus.jpg" alt="Logo"></a>
				</div>
				<!-- /.navbar-header -->
				
				<div class="navbar-left">
					<div class="collapse navbar-collapse" id="navbar-collapse">
						<ul class="nav navbar-nav">
															
						</ul>
					</div>
				</div><!-- /.navbar-left -->

				<div class="navbar-right">			
					<div class="dropdown tr-change-dropdown">
						<i class="fa fa-globe"></i> 
						<a data-toggle="dropdown" href="#" aria-expanded="false"><span class="change-text">Campus</span>
							<i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu tr-change tr-list">
							{{#each schools as |school|}}
								<li><a href="#"> {{school.name}} </a></li>
							{{/each}}
						</ul>								
					</div><!-- /.language-dropdown -->					
					<ul class="sign-in tr-list">
						<li style="padding-right:10px;"><a href="/">Home</a></li>
						<li><a href="/contact">Contact</a></li>	
						<li><a class="btn btn-primary members-area" style="color:white" href="/login">Members Area</a></li>
						
					</ul><!-- /.sign-in -->					
				</div><!-- /.nav-right -->
			</div><!-- /.container -->
		</nav><!-- /.navbar -->
	</header><!-- /.tr-header -->