<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">
         <img class="img-responsive" src="/images/LogoCampus.jpg" alt="Logo" style="margin-bottom:10px;height:40px;margin-top: ;margin-top: -15px;">
          </a>
				</div>
        <div class="collapse navbar-collapse" id="navbar-collapsible">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Customer Support</a></li>
            {{!-- <li><a href="#">Select Campus</a></li> --}}
            <li class="active"><a class="" href="/user/logout">Logout</a>
            	</li>
          </ul>
        </div>
      </div>
    </nav>