<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapsible"
            aria-expanded="false"
          >
            <i class="fa fa-navicon"></i>
          </button>
          <a href="#" class="navbar-brand">
              <img src=" /img/LogoCampus.jpg" alt="logo"/>
             </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapsible">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Select Campus</a></li>
            <li class="active"><a class="btn brown" href="index2.html">Logout</a>
            	</li>
          </ul>
        </div>
      </div>
    </nav>